.homereview {
  position: relative;
  .rectangle-first {
    position: absolute;
    top: 34%;
    left: 1px;
  }
  .rectangle-second {
    position: absolute;
    top: 35%;
    left: 1px;
  }
  .rectangle-third {
    position: absolute;
    bottom: -12%;
    right: 0;
    z-index: 1;
  }
  .rectangle-fourth {
    position: absolute;
    bottom: -13%;
    right: 0;
    z-index: 1;
  }

  .home-thumbnail {
    position: relative;
  }
  .testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    width: 1440px;
    .testimonial-card {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
      padding: 20px;
      border: 1px solid #cccccc;
      border-radius: 8px;
      max-width: 315px;
      min-height: 215px;
      margin-left: 10px;
      margin-right: 10px;
      min-height: 235px;
      .testimonial-card_text {
        text-align: left;
        max-width: 203px;
        p {
          margin-bottom: 10px;
          line-height: 23px;
        }
        .stars {
          display: flex;
          // padding-bottom: 20px;
        }
      }
    }
  }
  .schools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .school {
      width: 180px;
    }
  }
}
