.homeprocess {
  .homeprocess-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .homeprocess-card_container {
      .text-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .homeprocess-form {
    .homeprocess-form_form {
      .input-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        input {
          border: none;
          border-bottom: 1px solid #000;
          //   width: 280px;
          margin: 15px;
          height: 40px;
          font-size: 18px;
          border-radius: 0;
        }
        .input-name {
          width: 45%;
        }
        .input-email {
          width: 45%;
        }
      }
    }
  }
}
