.landingheader {
  // background-image: url(../media/img/background-image.png);
  // background-size: cover;
  // background-repeat: no-repeat;
  // min-height: 1200px;
  background-color: #0a0a0a;
  position: relative;
  .rectangle-first {
    position: absolute;
    bottom: 11%;
  }
  .rectangle-second {
    position: absolute;
    right: 3%;
    bottom: -1%;
  }
  .sub-header {
    background-color: #690203;
    min-height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-height: 88px;
    .contact-number {
      background-image: url(../media/icons/red-phone_icon.png);
      background-repeat: no-repeat;
      background-size: 32px;
      min-width: 175px;
    }
    .menu {
      min-width: 175px;
    }
  }

  .review {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    .stars {
      padding-top: 3px;
    }
  }
}

@media (max-width: 576px) {
  .nav {
    flex-direction: column;
  }
}
