.landingaccess {
  position: relative;
  .rectangle-01 {
    position: absolute;
    bottom: -17%;
    right: 0;
  }
  .rectangle-02 {
    position: absolute;
    bottom: -19%;
    right: 0;
    z-index: 2;
  }
}
