.landingguarantee {
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  background-image: url(../media/img/background-image-02.png);
  background-repeat: no-repeat;
  background-position: left top -46px;
  .guarantee-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;

    .guarantee-card_container {
      border-radius: 8px;
      border: 1px solid #fff;
      min-height: 600px;
      background-color: rgba(255, 255, 255, 0.1);
      .content-text {
        .text-icon_container {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;
          .icon {
            padding-top: 4px;
          }
        }
      }
    }
  }
  .admission-card {
    display: block;
    padding-top: 30px;
    min-height: 1px;
    .admission {
      background-color: transparent;
      border-radius: none;
      border: none;
      min-height: 1px;
      .content-text {
        .text-icon_container {
          gap: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .landingguarantee {
    .guarantee-card {
      flex-wrap: wrap;
      .guarantee-card_container {
        width: 100%;
      }
    }
  }
}
